.invalid-input {
    color: red;
    font-size: 22px;
    margin-top: 8px;
}


h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
}