<div style="position: fixed; top: 0;">
    <nav class="navbar navbar-expand-custom navbar-mainbg"
        style="position: fixed; top: 0; left: 0; right: 0; background-color: #f8f8f8;">
        <a class="navbar-brand navbar-logo" routerLink="">Kerala Festivals</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarSupportedContent">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="allevents" *ngIf="!isAuthenticated"><i
                            class="fas fa-tachometer-alt"></i>All Events</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="login" *ngIf="!isAuthenticated"><i
                            class="far fa-address-book"></i>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="register" *ngIf="!isAuthenticated"><i
                            class="far fa-clone"></i>Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="addevent" *ngIf="isAuthenticated"><i
                            class="far fa-calendar-alt"></i>Add Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="mgviewallevents" *ngIf="isAuthenticated"><i
                            class="far fa-chart-bar"></i>View Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about"><i class="far fa-copy"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" *ngIf="isAuthenticated"><i class="far fa-copy"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>