<section id="team" class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2 class="">Kerala <span>Festivals</span></h2>
                    <p class="mt-4">Our website dedicated to showcasing the diverse and vibrant festivals of Kerala,
                        India.Our platform offers a comprehensive guide
                        to all the festivals happening across the state.

                        Our mission is to promote cultural awareness and appreciation by providing a platform for
                        festival organizers, attendees, and enthusiasts to connect and share their experiences. Through
                        our website, we hope to inspire about the unique customs, traditions, and
                        practices that make Kerala's festivals so special.

                        At KeralaFestival, we believe that festivals are an integral part of Kerala's rich cultural
                        heritage, and we are committed to preserving and promoting these celebrations for future
                        generations. Whether you're a local or a tourist, a history buff or a party animal, there's
                        something for everyone at KeralaFestival.

                        So come and join us as we explore the colorful world of Kerala's festivals. We look forward to
                        sharing this journey with you!</p>
                </div>
            </div>
        </div>
        <h2 class="pb-2 text-center">Our Team</h2>

        <div class="row team-items">

            <div class="col-md-2 single-item"></div>
            <div class="col-md-4 single-item">
                <div class="item">
                    <div class="thumb">
                        <img class="img-fluid" src="../../assets/godu.jpg" alt="Thumb">
                        <div class="overlay">
                            <h4>Godwin Vinson</h4>
                            <p>
                                <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. -->
                            </p>
                            <div class="social">
                                <ul>
                                    <li class="linkedin">
                                        <a href="https://www.linkedin.com/in/godwinvinson/"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/GODWINVINSON"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/godwin_vinson"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="whatsapp">
                                        <a href="https://api.whatsapp.com/send/?phone=917025190151&text=I%27+want+to+contact+you+to+enquire+about+the+Kerala%20festivals&type=phone_number&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <span class="message">
                            <a href="https://www.instagram.com/godwin_vinson"><i class="fas fa-envelope-open"></i></a>
                        </span>
                        <h4>Godwin Vinson</h4>
                        <span>App Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-item">
                <div class="item">
                    <div class="thumb">
                        <img class="img-fluid" src="../../assets/sahal.jpg" alt="Thumb">
                        <div class="overlay">
                            <h4>Sahal rasheed</h4>
                            <p>
                                <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. -->
                            </p>
                            <div class="social">
                                <ul>
                                    <li class="linkedin">
                                        <a href="https://www.linkedin.com/in/sahal-rasheed/"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li class="facebook">
                                        <a href="https://www.instagram.com/godwin_vinson"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/sahal_rasheed"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="whatsapp">
                                        <a href="https://api.whatsapp.com/send/?phone=+919645192100&text=I%27+want+to+contact+you+to+enquire+about+the+Kerala%20festivals&type=phone_number&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <span class="message">
                            <a href="https://www.instagram.com/godwin_vinson"><i class="fas fa-envelope-open"></i></a>
                        </span>
                        <h4>Sahal Rasheed</h4>
                        <span>Web designer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 single-item"></div>

        </div>
    </div>
</section>