<h1 class="mt-5 text-center ">Expired Events</h1>
<!-- --desktop mode-- -->
<div class="desktop">
  <div class="row">
    <div class="col-4 pt-5 pl-5  ml-5 d-flex justify-content-center">
      Filter:-
      <select (change)="onTableSizeChange($event)" class="mb-5">
        <option *ngFor="let size of tableSizes">{{size}}</option>
      </select>
    </div>
    <div class="col-3 pl-5 mr-5 mt-2">
      <form action="" class="search-bar ml-1">
        <h5 class="pt-2">Search here...</h5> <input type="search" [(ngModel)]="searchText" name="search"
          pattern=".*\S.*" required>
        <button class="search-btn " type="submit">
          <span>Search</span>
        </button>
      </form>
    </div>
    <div class="col  mt-5 pl-5 ml-5">
      <button type="button" class="btn btn-outline-secondary btn-lg pl-2 pr-2 pt-1 pb-1" routerLink="/booking">Book
        Programmes</button>
    </div>
  </div>
</div>
<!-- moble mode -->
<div class="mobile">
  <div class="filter">
    Filter:-
    <select (change)="onTableSizeChange($event)">
      <option *ngFor="let size of tableSizes">{{size}}</option>
    </select>
  </div>

<div class="text">
  <form action="" class="search-bar ml-2 pr-0 ">
    <h5 class="pt-1">Search here...</h5> <input type="search" [(ngModel)]="searchText" name="search" pattern=".*\S.*"
      required>
    <button class="search-btn mr-5" type="submit">
      <span>Search</span>
    </button>
  </form>
</div>

<div>
  <button type="button" id="button" class="btn btn-outline-secondary btn-lg pl-2 pr-2 pt-1 pb-1"
    routerLink="/mgviewallevents">Back to All Events</button>
  </div>
    
</div>
<section class="articles">
  <article *ngFor="let e of filteredData | filter:searchText | paginate:{
      itemsPerPage:tableSize,
      currentPage:page,
      totalItems:count}; let i=index">
    <div class="article-wrapper">
      <figure *ngIf="e.pic">
        <img src="{{e.pic}}" alt="" />
      </figure>
      <figure *ngIf="!e.pic">
        <img src="https://images.news18.com/malayalam/uploads/2023/04/thrissur-pooram-1-16827841084x3.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>{{e.name|titlecase}}</h2>
        <p class="pb-2">{{e.event_date}}
          <br>
          {{e.description | slice:0:90}} {{ e.description.length > 90 ? '...' : '' }}
        </p>
        <div class="bottom_aligner">
          <a class="btn1" (click)="editevent(e.id)"><i class="fas fa-edit pr-1"></i> Edit</a>
          <a class="btn2" (click)="deleteevent(e.id)"><i class="fa fa-trash pr-1"></i> Delete</a>
        </div>
      </div>
    </div>
  </article>
</section>






<div class="d-flex justify-content-center pt-4">
  <pagination-controls previousLabel="prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>