<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Kerala Festivals</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" (click)="navigate('')" ><i class="fa-solid fa-house"></i>Home</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="navigate('allevents')" *ngIf="!isAuthenticated"><i class="fa-regular fa-calendar-plus"></i>All Events</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" (click)="navigate('login')" *ngIf="!isAuthenticated"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="navigate('register')" *ngIf="!isAuthenticated"><i class="fa-solid fa-user-plus"></i>Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="navigate('addevent')" *ngIf="isAuthenticated"><i class="fa-regular fa-calendar-plus"></i>Add Event</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="navigate('mgviewallevents')" *ngIf="isAuthenticated"><i class="fa-solid fa-calendar-week"></i>  View Events</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="navigate('about')"><i class="far fa-copy"></i>About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"  (click)="logout()" *ngIf="isAuthenticated"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
              </li>
        </ul>
    </div>
</nav>
<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>
