<h1 class="mt-5 text-center mb-1">All Programmes</h1>
<div class="container">
  <div class="row">
    <div class="col-5 pt-5 d-flex justify-content-end">
      Filter:-
      <select (change)="onTableSizeChange($event)" class="mb-5">
        <option *ngFor="let size of tableSizes">{{size}}</option>
      </select>
    </div>
    <div class="col"></div>
    <div class="col-5 ml-5 pl-5 mt-2">
      <div>
        <form action="" class="search-bar">
          <h5 class="pt-2">Search here...</h5> <input type="search" [(ngModel)]="searchText" name="search"
            pattern=".*\S.*" required>
          <button class="search-btn " type="submit">
            <span>Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<section class="articles">
  <article *ngFor="let e of filteredData | filter:searchText | paginate:{
      itemsPerPage:tableSize,
      currentPage:page,
      totalItems:count}; let i=index">
    <div class="article-wrapper">
      <figure *ngIf="e.pic">
        <img src="{{e.pic}}" alt="" />
      </figure>
      <figure *ngIf="!e.pic">
        <img src="https://images.news18.com/malayalam/uploads/2023/04/thrissur-pooram-1-16827841084x3.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>{{e.name|titlecase}}</h2>
        <p class="pb-2">{{e.event_date}}
          <br>
          {{e.description | slice:0:90}} {{ e.description.length > 90 ? '...' : '' }}
        </p>
        <div clss="bottom_aligner">
          <a class=" btn mr-5 ml-4" (click)="editevent(e.id)"><i class="fas fa-edit"></i> Edit</a>
          <a class="btn" (click)="deleteevent(e.id)"><i class="fa fa-trash"></i> Delete</a>
        </div>
      </div>
    </div>
  </article>
</section>





<div class="d-flex justify-content-center pt-4">
  <pagination-controls previousLabel="prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>