


.header-wrapper .header-primary {
    background: #F6F6F6;
    height: 40px;
    transition: height .15s ease-in-out;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  background: rgb(218, 214, 221);
  width: 100%;
}

.wrapper {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 12s linear infinite;
}

.usp{
      color: #1c303f;
    line-height: 40px;
}


@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1300px, 0);
  }
}