<div class="container">
<h1 class="text-center mt-5"> Watch trending videos</h1>
<div id="small-dialog" class="zoom-anim-dialog mfp-hide  mb-5">
    <iframe src="https://www.youtube.com/embed/_M9A6vhWGgI" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
        <br>
        
    <iframe   src="https://www.youtube.com/embed/ffs8aarw41k"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
</div>