<h1 class="mt-5 text-center mb-2">Book Programmes</h1>
<div class="">
    <div class="row">
        <div class="col-4  pl-4  ml-5 d-flex justify-content-center">
        </div>
        <div class="col-3 pl-5 mr-5 ">
            <form action="" class="search-bar ml-1">
                <h5 class="pt-2">Search here...</h5> <input type="search" [(ngModel)]="searchText" name="search"
                    pattern=".*\S.*" required>
                <button class="search-btn " type="submit">
                    <span>Search</span>
                </button>
            </form>
        </div>
        <div class="col pl-5 ml-5">
        </div>
    </div>
</div>
<table class="container mb-5">
    <thead>
        <tr>
            <th>
                <h1>Name</h1>
            </th>
            <th>
                <h1>Type</h1>
            </th>
            <th>
                <h1>Phone number</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of datas |filter:searchText">
            <td>{{d.name}}</td>
            <td>{{d.type}}</td>
            <td>{{d.number}}</td>
        </tr>
    </tbody>
</table>