<h1 class="mt-5 text-center ">All Events</h1>
<!-- --desktop mode-- -->
<div class="desktop">
  <div class="row">
    <div class="col-4 pt-5 pl-5  ml-5 d-flex justify-content-center">
      Filter:-
      <select (change)="onTableSizeChange($event)" class="mb-5">
        <option *ngFor="let size of tableSizes">{{size}}</option>
      </select>
    </div>
    <div class="col-3 pl-5 mr-5 mt-2">
      <form action="" class="search-bar ml-1">
        <h5 class="pt-2">Search here...</h5> <input type="search" [(ngModel)]="searchText" name="search"
          pattern=".*\S.*" required>
        <button class="search-btn " type="submit">
          <span>Search</span>
        </button>
      </form>
    </div>
    <div class="col  mt-5 pl-5 ml-5">
      <button type="button" class="btn btn-outline-secondary btn-lg pl-2 pr-2 pt-1 pb-1" routerLink="/booking">Book
        Programmes</button>
    </div>
  </div>
</div>
<!-- moble mode -->
<div class="mobile">
  <div class="filter" id="fil">
    Filter:-
    <select (change)="onTableSizeChange($event)">
      <option *ngFor="let size of tableSizes">{{size}}</option>
    </select>
  </div>

  
<div class="text">
  <form action="" class="search-bar ml-2 pr-0 ">
    <h5 class="pt-1">Search here...</h5> <input type="search" [(ngModel)]="searchText" name="search" pattern=".*\S.*"
      required>
    <button class="search-btn mr-5" type="submit">
      <span>Search</span>
    </button>
  </form>
</div>

<div>
  <button type="button" id="button" class="btn btn-outline-secondary btn-lg pl-2 pr-2 pt-1 pb-1"
    routerLink="/booking">Book 
    Programmes</button>
  </div>
    
</div>





<section class="articles">
  <article class=" " *ngFor="let e of filteredData |filter:searchText | paginate:{
      itemsPerPage:tableSize,
      currentPage:page,
      totalItems:count}; let i=index">
    <div class="article-wrapper">
      <figure *ngIf="e.pic">
        <img src="{{e.pic}}" alt="" />
      </figure>
      <figure *ngIf="!e.pic">
        <img src="https://images.news18.com/malayalam/uploads/2023/04/thrissur-pooram-1-16827841084x3.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>{{e.name|titlecase}}</h2>
        <p id="date">{{e.event_date | date:'dd-MM-yyyy'}}</p>
        <p>
          {{e.description | slice:0:90}} {{ e.description.length > 90 ? '...' : '' }}
          <a (click)="vsevent($event)" id="{{e.id}}" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </p>

      </div>
    </div>
  </article>
</section>
<div class="d-flex justify-content-center pt-4">
  <pagination-controls previousLabel="prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>