<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-8 ">
      <div class="card mt-5  shadow-lg  mb-5 bg-body rounded">
        <img *ngIf="specificevent.pic" src="{{specificevent.pic}}" class="card-img-top pt-1 pl-2 pr-2"
          alt="Wild Landscape" width="10" height="350" />
        <img *ngIf="!specificevent.pic"
          src="https://images.news18.com/malayalam/uploads/2023/04/thrissur-pooram-1-16827841084x3.jpg"
          class="card-img-top pt-1 pl-2 pr-2" alt="Wild Landscape"  />
        <div class="card-body">
          <h5 class="card-title"><span>Event Name: </span>{{specificevent.name| titlecase }} </h5>
         <h6><span>Date: </span>{{specificevent.event_date | date:'dd-MM-yyyy'}}</h6> 
          <p class="card-text">
            <span>Place: </span>{{specificevent.place|titlecase}}<br>
           <span> Description: </span>{{specificevent.description}}
          </p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>