<div class="wrapper">
<h1 class="heading  pt-3">Recent Programmes</h1>
<div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');" *ngFor="let e of filteredData.slice(0,3)">
            <div class="container">
                <div *ngIf="e.pic" class="front" style="background-image: url({{e.pic}})">
                    <div class="inner">
                        <p>{{e.name| titlecase }}</p>
                        <span>{{e.event_date}}</span>
                    </div>
                </div>

                <div *ngIf="!e.pic" class="front"
                    style="background-image: url(https://images.news18.com/malayalam/uploads/2023/04/thrissur-pooram-1-16827841084x3.jpg)">
                    <div class="inner">
                        <p>{{e.name| titlecase }}</p>
                        <span>{{e.event_date}}</span>
                    </div>
                </div>

                <div class="back">
                    <div class="inner">
                        <p>{{e.place| titlecase }}</p>
                        <a (click)="vsevent($event)" id="{{e.id}}" class="read-more">{{e.description | slice:0:90}} {{
                            e.description.length > 90 ? '...' : '' }}</a>
                    </div>
                </div>
            </div>
        </div>
    
</div>
</div>
<button type="button"   id="button" class="btn btn-outline-danger btn-sm pl-2 pr-2 pt-1 pb-1" routerLink="/allevents">Click here to view all events
</button>